<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
	<title>Index</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
   	<meta http-equiv="Content-Style-Type" content="text/css" />
    {% load staticfiles %}
	<link rel="Stylesheet" type="text/css" href='{% static "style.css" %}' />
</head>
<body>
	<center>

	<div id="menu">
		<div id="header">
			<b>
			    <a class="link" href="{% url 'microblog.views.index' %}">Wpisy</a>

                    <a class="link" href="{% url 'microblog.views.AddPost' %}">Dodaj wpis</a>

            </b>
		</div>
	</div>

	<div id="content">
		<div id="TRESC_GLOWNA">
            {% for post in allPosts %}
                <div class="wpis">
                    <div class="wpis_tresc">
                        {{ post.content }}
                    </div>
                    <div class="wpis_author">
                        Dodane przez: {{ post.author }} {{ post.data }}
                    </div>
                </div>
            {% endfor %}
		</div>
	</div>
	</center>
</body>
</html>
