body {
	background-color: antiquewhite;
    font-family: 'Calisto MT';

}
	

	
#menu {
	text-align: center;
	width: 960px;
	margin-top: 10px;
	height: 20px;
}

#header {
    font-family: Calibri;
    
    
    border-right:  dashed blue;
    border-left:  dashed blue;
    border-top:  dashed blue;
    border-bottom:  dashed blue;
	padding-top: 3px;
	padding-bottom: 3px;
}


#TRESC {
	margin-top: 50px;
	width: 960px;
	/*min-height: 100px;*/
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 20px;
}

#TRESC_GLOWNA {
	font-family: 'Lucida Fax';
	margin-top: 110px;
	margin-left: 20px;
	margin-right: 20px;

    width: 552px;
	font-size: 20px;
	text-align: justify;
}

#TRESC_GLOWNA.center {
	text-align: center;
}



.wpis {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
    
    border-right: solid aqua;
    border-left: solid aqua;
    border-top: solid aqua;
    border-bottom:  solid aqua;
}

.wpis_tresc {
	margin: auto;
	text-align: justify;
	font-family: 'Lucida Sans';
}

.wpis_author {
	text-align: justify;
	font-family: 'Lucida Fax';
	font-size: 9px;
	margin-top: 10px;
	padding-bottom: 3px;
}


img.logo {
	vertical-align: middle;
	height: 90%;
	margin-right: 1%;
}

img.przedzialka {
	vertical-align: middle;
	height: 100%;
	margin-right: 1%;
}

img.miniatura {
	height: 120px;
	margin-right: 40px;
	margin-left: 0px;
	margin-top: 20px;
}

a.link {
	text-decoration: none;
	color: #555555;
	font-size: 25px;
	margin-left: 25px;
	margin-right: 25px;
}

a.link:hover {
	color: orange;
}

tr {
	padding-top: 3px;
}

input.textbox {
	background-color: #aaaaff;
	border: 1px solid blue;
}

iframe {
	border: none;
}

table {
	border: 1px solid black;
}

.walidacja_nick {

}

.walidacja_haslo {

}

.walidacja_haslo_powt {

}

.walidacja_email {

}

.walidacja_email_powt {

}

.walidacja_kod {

}

table {
	margin-top: 20px;
}

#dodano {
	width: 98%;
	height: 40px;
	background-color: #33AA33;
	border: 1px solid #119911;
	padding-left: 20px;
	color: #00FFDD;
}

#walidacja_ok {
	background-color: #99CC00;
	color: #336600;
	border: 1px solid #336600;
	text-align: center;
}

#walidacja_blad {
	background-color: #FF6666;
	color: #990000;
	border: 1px solid #990000;
	text-align: center;
}
